/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/scripts/__pycache__
/resources/views/compiled
/scripts/plans.csv
/.vscode/settings.json